
<div id="simple-search-form">
  <%= search_form_for q,:url => search_hostings_path, :html => {method: :post, class: 'well form-search'}  do |f| %>
  <fieldset>
    <%= f.text_field :env_id_or_inst_id_or_os_or_ip_or_apps_cont, class: "input-medium search-query" %>
    <button type="submit" class="btn">Search</button> &nbsp;&nbsp;
     <a href="#" id="advance-search">Advanced</a>
  <% end %>
  </fieldset>
</div>

<div id="advance-search-form" style="display: none">
  <%= search_form_for q,:url => search_hostings_path, :html => {method: :post, class: 'form-horizontal'}  do |f| %>
  <fieldset>
  <legend>Search Instances</legend>
  <div class="control-group">
    <%= f.label :env_id_cont, "Environment Id", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :env_id_cont %>
    </div>
  </div>
  
  
  <div class="control-group">
    <%= f.label :inst_id_cont, "Instance Id", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :inst_id_cont %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :os_cont, "OS", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :os_cont %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ip_cont, "IP", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :ip_cont %>
    </div>
  </div>
<div class="control-group">
    <%= f.label :apps_cont, "Apps", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :apps_cont %>
    </div>
  </div>

 
  
  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <input type="reset" class='btn'></input>
    <a href="#" id="advance-search">Simple</a>
  </div>  
  </fieldset>
  <% end %>
</div>
